@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&display=swap');

@import "./common/reset";
@import "./common/header";
@import "./main/HOME";
@import "./main/HISTORY";
@import "./main/ADVERTISE";
@import "./main/WAY\ TO\ COME";
@import "./common/footer";


@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}